Repository Icinga/icingadb, pull requests merged in 2020-12, with the labels that each got.

#227 Actually insert NULL into NULLable columns
  configobject/history/history.go
  configobject/objecttypes/checkcommand/checkcommand.go
  configobject/objecttypes/comment/comment.go
  configobject/objecttypes/downtime/downtime.go
  configobject/objecttypes/eventcommand/eventcommand.go
  configobject/objecttypes/host/host.go
  configobject/objecttypes/host/hoststate/hoststate.go
  configobject/objecttypes/hostgroup/hostgroup.go
  configobject/objecttypes/notification/notification.go
  configobject/objecttypes/notificationcommand/notificationcommand.go
  configobject/objecttypes/service/service.go
  configobject/objecttypes/service/servicestate/servicestate.go
  configobject/objecttypes/servicegroup/servicegroup.go
  configobject/objecttypes/timeperiod/timeperiod.go
  configobject/objecttypes/user/user.go
  configobject/objecttypes/usergroup/usergroup.go
  configobject/objecttypes/zone/zone.go
  ha/heartbeat.go
  utils/convert.go
Labels: area/configsync, area/ha, area/history, area/statesync, bug

#219 mysql/schema: Add name indices to host,service,user,usergroup tables
  etc/schema/mysql/mysql.schema.sql
Labels: area/schema

#205 Add Redis password authentication
  configobject/configsync/configsync_test.go
  connection/redis.go
  connection/redis_test.go
  doc/03-Configuration.md
  ha/ha_test.go
  ha/heartbeat_test.go
  icingadb.ini
  main.go
Labels: area/connection, enhancement
