Repository Icinga/icingadb, pull requests merged in 2020-05, with the labels that each got.

#178 User: Fix NotificationsEnabled not cast to DB bool
  configobject/objecttypes/user/user.go
Labels: area/configsync, bug

#168 Overdue: Make sure to chunk before updating in database
  configobject/statesync/overdue.go
  go.mod
  go.sum
  utils/chunks.go
  utils/chunks_test.go
Labels: area/statesync, bug

#165 MySQL: Make sure to chunk rows correctly
  connection/mysql.go
  connection/mysql_utils.go
  connection/mysql_utils_test.go
Labels: area/configsync, area/connection, crash

#184 *CommandArgument: Fix SetIf data type to accept any JSON data
  configobject/objecttypes/checkcommand/checkcommandargument/checkcommandargument.go
  configobject/objecttypes/eventcommand/eventcommandargument/eventcommandargument.go
  configobject/objecttypes/notificationcommand/notificationcommandargument/notificationcommandargument.go
  connection/mysql_utils.go
  connection/mysql_utils_test.go
Labels: area/configsync, bug

#185 Overdue: Fix indicators getting out of sync
  configobject/statesync/overdue.go
Labels: area/statesync, bug

#186 History: correct event time of cancelled downtimes
  configobject/history/history.go
Labels: bug
